<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
 <title>Dashboard</title>
 </head>
 <body>
 <h1>Dashboard</h1>
 <h2>Statistics</h2>
 <p>
 </p>
 <table>
 	   <tr>
 	     <th>Number</th>
   		 <th>User</th>
   		 <th>Vote</th>
   		 <th>Comment</th>
  	   </tr>
       <tr th:each="voter,iterationStatus  : ${voters}">
       	 <td th:text="${iterationStatus.count}">1</td>
         <td th:text="${voter.name}"></td>
         <td th:text="${voter.vote}"></td>
         <td th:text="${voter.comment}"></td>
       </tr>
</table>
<table>
 	   <tr>
 	     <th>Total Number of Votes:</th>
  	   </tr>
  	   <tr>
 	     <td th:text="${numberOfVotes}"></td>
  	   </tr>
</table>

</body>
</html>